<%= form_for(@tipp) do |f| %>
  <% if @tipp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipp.errors.count, "error") %> prohibited this tipp from being saved:</h2>

      <ul>
      <% @tipp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :paarung_id %><br />
    <%= f.text_field :paarung_id %>
  </div>
  <div class="field">
    <%= f.label :toreheim %><br />
    <%= f.text_field :toreheim %>
  </div>
  <div class="field">
    <%= f.label :toregast %><br />
    <%= f.text_field :toregast %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
