<h1>Listing regels</h1>

<table>
  <tr>
    <th>Typ</th>
    <th>Punkte</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regels.each do |regel| %>
  <tr>
    <td><%= regel.typ %></td>
    <td><%= regel.punkte %></td>
    <td><%= link_to 'Show', regel %></td>
    <td><%= link_to 'Edit', edit_regel_path(regel) %></td>
    <td><%= link_to 'Destroy', regel, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regel', new_regel_path %>
